/* 
    Document   : style
    Author     : Chrástek Tomáš, Klape s.r.o.
    Description:
        Obsahuje styly pro projekt Flutiform
*/


/* Specifikace fontu */
@font-face {
    font-family: "MyriadProSemibold";
    src: url("../fonts/MyriadPro-Semibold.otf");
}

@font-face {
    font-family: "MyriadProReg";
    src: url("../fonts/MyriadPro-Regular_0.otf");
}

@font-face {
    font-family: "MyriadProBold";
    src: url("../fonts/MyriadPro-Bold.otf");
}

@font-face {
    font-family: "MyriadProLight";
    src: url("../fonts/MyriadPro-Light.otf");
}



/* Obecne */
* { margin:0; padding:0; }

html { background-color: #ec6411;}
/* Specifikace stranky */
/* Zobrazeni v modu landscape */
body { width: 1024px; height: 768px; margin: 0px auto 0; position: relative; overflow: hidden; -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);}

/* Prezentace VPMD */
body#flutiform { background-color: white;}

/* Hlavicka webu */
#flutiform header { z-index: 20; position: absolute; top: 0px; left: 0px; width: 1024px; height: 58px; background: url("../img/menu.png") no-repeat top; -webkit-background-size: 1024px 58px; background-size: 1024px 58px; }

/* Blok obsahujici vsechny slidy */
#flutiform .presentation { overflow: hidden; width: 1024px; height: 768px; }

/* Obecne nastylovani slidu */
#flutiform .slide { display: inline-block; display: none; width: 100%; height: 768px; overflow: hidden; background-color: #fff; }

#flutiform .slide .nav-controls { position: absolute; right: 10px; bottom: 74px; width: 108px; height: 608px;}
#flutiform .slide .nav-arrow-up { display: none; position: absolute; right: 10px; top: 188px; width: 51px; height: 53px; background: url("../img/arrow_up.png") no-repeat; cursor: pointer; -webkit-background-size: 51px 53px; background-size: 51px 53px;}
#flutiform .slide .nav-arrow-down { display: none; position: absolute; right: 10px; bottom: 153px; width: 51px; height: 53px; background: url("../img/arrow_down.png") no-repeat; cursor: pointer; -webkit-background-size: 51px 53px; background-size: 51px 53px;}

#flutiform .ref {cursor: pointer; z-index: 104; position: absolute; left: 19px; bottom: 153px; width: 39px; height: 39px; background: url("../img/flutiform_reference.png") no-repeat; -webkit-background-size: 39px 39px; background-size: 39px 39px;}

#flutiform header a { position: absolute; top: 0; height: 58px; display: block;}
#flutiform .obnovit { left: 0px; width: 60px;}
#flutiform .uvod { left: 61px; width: 60px;}
#flutiform .vse { left: 123px; width: 60px;}
#flutiform .vse.active { background: url("../img/flutiform_vse_active.png") no-repeat; -webkit-background-size: 60px 58px; background-size: 60px 58px;}
#flutiform .co-je-to-flutiform { left: 183px; width: 140px;}
#flutiform .co-je-to-flutiform.active { background: url("../img/flutiform_co-je-to-flutiform_active.png") no-repeat; -webkit-background-size: 140px 58px; background-size: 140px 58px;}
#flutiform .ucinnost { left: 324px; width: 140px;}
#flutiform .ucinnost.active { background: url("../img/flutiform_ucinnost_active.png") no-repeat; -webkit-background-size: 140px 58px; background-size: 140px 58px;}
#flutiform .jemne-castice { left: 463px; width: 140px;}
#flutiform .jemne-castice.active { background: url("../img/flutiform_jemne-castice_active.png") no-repeat; -webkit-background-size: 140px 58px; background-size: 140px 58px;}
#flutiform .plicni-depozice { left: 603px; width: 140px;}
#flutiform .plicni-depozice.active { background: url("../img/flutiform_plicni-depozice_active.png") no-repeat; -webkit-background-size: 140px 58px; background-size: 140px 58px;}
#flutiform .preskripce { left: 743px; width: 140px;}
#flutiform .preskripce.active { background: url("../img/flutiform_preskripce_active.png") no-repeat; -webkit-background-size: 140px 58px; background-size: 140px 58px;}
#flutiform .ostatni { left: 884px; width: 140px; height: 160px;}
#flutiform .ostatni.active { height: 160px; background: url("../img/flutiform_ostatni_active.png") no-repeat; -webkit-background-size: 140px 160px; background-size: 140px 160px;}
#flutiform .ostatni-sub { display: none; z-index: 3; cursor: pointer; position: absolute; right: 0px; top: 0px; width: 140px; height: 160px;}
#flutiform .ostatni-sub a { position: absolute; left: 0px; width: 140px; height: 46px;}
#flutiform .ostatni-sub .close { top: 0px; }
#flutiform .ostatni-sub .ziop { top: 58px; }
#flutiform .ostatni-sub .reference { top: 106px; height: 52px;}

#flutiform .presentation h1 { position: absolute; left: 98px; top: 100px; font-size: 36px; color: rgb(236, 100, 17); font-family: "MyriadProReg"; font-weight: normal;}
#flutiform .presentation h1 sup { font-size: 16px;}
#flutiform #uvod { }
#flutiform #uvod .logo-line { position: absolute; left: -1024px; top: 300px; width: 1024px; height: 167px; background: url("../img/uvod_logo_line.png") no-repeat; -webkit-background-size: 1024px 167px; background-size: 1024px 167px;}
#flutiform #uvod .dispenser { display: none; position: absolute; left: 511px; top: 100px; width: 436px; height: 564px; background: url("../img/uvod_dispenser.png") 0px -64px no-repeat; -webkit-background-size: 523px 695px; background-size: 523px 695px;}
#flutiform #uvod .text { display: none; position: absolute; left: 30px; top: 490px; width: 455px; height: 118px; background: url("../img/uvod_text.png") no-repeat; -webkit-background-size: 455px 118px; background-size: 455px 118px;}

#flutiform #co-je-to-flutiform1 { }
#flutiform #co-je-to-flutiform1 .background { position: absolute; left: 70px; top: 139px; width: 848px; height: 516px; background: url("../img/cjtf1_background.png") no-repeat; -webkit-background-size: 848px 516px; background-size: 848px 516px;}
#flutiform #co-je-to-flutiform1 .dispenser { display: none; position: absolute; left: 11px; top: 163px; width: 899px; height: 503px; background: url("../img/cjtf1_dispenser.png") no-repeat; -webkit-background-size: 899px 503px; background-size: 899px 503px; }
#flutiform #co-je-to-flutiform1 .text1 { display: none; position: absolute; right: 638px; bottom: 358px; width: 16px; height: 16px; background: url("../img/cjtf1_text1.png") right bottom no-repeat; -webkit-background-size: 215px 68px; background-size: 215px 68px; }
#flutiform #co-je-to-flutiform1 .text2 { display: none; position: absolute; left: 614px; bottom: 436px; width: 16px; height: 16px; background: url("../img/cjtf1_text2.png") left bottom no-repeat; -webkit-background-size: 271px 66px; background-size: 271px 66px; }
#flutiform #co-je-to-flutiform1 .text3 { display: none; position: absolute; left: 556px; bottom: 166px; width: 14px; height: 18px; background: url("../img/cjtf1_text3.png") left bottom no-repeat; -webkit-background-size: 324px 68px; background-size: 324px 68px; }

#flutiform #co-je-to-flutiform2 { }
#flutiform #co-je-to-flutiform2 .box { position: absolute; left: 117px; top: 240px; width: 800px; height: 353px; background: url("../img/cjtf2_box.png") no-repeat; -webkit-background-size: 800px 353px; background-size: 800px 353px;}
#flutiform #co-je-to-flutiform2 .ref-box { z-index: 100; position: absolute; left: 9px; bottom: 140px; width: 390px; height: 171px; background: url("../img/cjtf2_ref.png") no-repeat; -webkit-background-size: 390px 171px; background-size: 390px 171px;}

#flutiform #co-je-to-flutiform3 { }
#flutiform #co-je-to-flutiform3 p { position: absolute; left: 145px; top: 194px; font-size: 22px; font-family: "MyriadProSemibold"; color: rgb( 87, 87, 86);}
#flutiform #co-je-to-flutiform3 .text1 { display: none; position: absolute; left: 172px; top: 279px; width: 515px; height: 71px; background: url("../img/cjtf3_box1.png") no-repeat; -webkit-background-size: 515px 71px; background-size: 515px 71px;}
#flutiform #co-je-to-flutiform3 .text2 { display: none; position: absolute; left: 172px; top: 374px; width: 537px; height: 71px; background: url("../img/cjtf3_box2.png") no-repeat; -webkit-background-size: 537px 71px; background-size: 537px 71px;}
#flutiform #co-je-to-flutiform3 .text3 { display: none; position: absolute; left: 172px; top: 474px; width: 537px; height: 71px; background: url("../img/cjtf3_box3.png") no-repeat; -webkit-background-size: 537px 71px; background-size: 537px 71px;}
#flutiform #co-je-to-flutiform3 .thermometer { position: absolute; left: 162px; bottom: 123px; width: 684px; height: 50px; background: url("../img/cjtf3_thermometer.png") no-repeat; -webkit-background-size: 684px 50px; background-size: 684px 50px;}
#flutiform #co-je-to-flutiform3 .ref-box { z-index: 100; position: absolute; left: 9px; bottom: 136px; width: 397px; height: 68px; background: url("../img/cjtf3_ref.png") no-repeat; -webkit-background-size: 397px 68px; background-size: 397px 68px;}


#flutiform #ucinnost1 { }
#flutiform #ucinnost1 .box1 { position: absolute; left: 106px; top: 227px; width: 816px; height: 381px; }
#flutiform #ucinnost1 .box1 .background { position: absolute; left: 0px; top: 0px; width: 816px; height: 381px; background: url("../img/ucinnost1_box1.png") no-repeat; -webkit-background-size: 816px 381px; background-size: 816px 381px; }
#flutiform #ucinnost1 .box1 .graph1 { display: none; position: absolute; left: 98px; bottom: 62px; width: 675px; height: 149px; background: url("../img/ucinnost1_box1_graph1.png") no-repeat; -webkit-background-size: 675px 149px; background-size: 675px 149px;}
#flutiform #ucinnost1 .box1 .graph2 { display: none; position: absolute; left: 98px; bottom: 61px; width: 673px; height: 140px; background: url("../img/ucinnost1_box1_graph2.png") no-repeat; -webkit-background-size: 673px 195px; background-size: 673px 195px; }
#flutiform #ucinnost1 .fingerprint1 { cursor: pointer; position: absolute; right: 124px; top: 229px; width: 64px; height: 64px; background: url("../img/flutiform_fingerprint.png") no-repeat; -webkit-background-size: 64px 64px; background-size: 64px 64px; }
#flutiform #ucinnost1 .fingerprint2 { display: none; cursor: pointer; position: absolute; right: 190px; top: 445px; width: 64px; height: 64px; background: url("../img/flutiform_fingerprint.png") no-repeat; -webkit-background-size: 64px 64px; background-size: 64px 64px; }
#flutiform #ucinnost1 .week { display: none; cursor: pointer; position: absolute; left: 207px; bottom: 81px; width: 305px; height: 46px; background: url("../img/ucinnost1_week.png") no-repeat; -webkit-background-size: 305px 46px; background-size: 305px 46px; }
#flutiform #ucinnost1 .week8 { cursor: pointer; position: absolute; right: 154px; bottom: 80px; width: 305px; height: 46px; background: url("../img/ucinnost1_week8.png") no-repeat; -webkit-background-size: 305px 46px; background-size: 305px 46px; }
#flutiform #ucinnost1 .ref-box { z-index: 100; position: absolute; left: 9px; bottom: 138px; width: 390px; height: 92px; background: url("../img/ucinnost1_ref.png") no-repeat; -webkit-background-size: 390px 92px; background-size: 390px 92px;}

#flutiform #ucinnost1 .box2 { display: none; position: absolute; left: 81px; bottom: 115px; width: 845px; height: 399px; }
#flutiform #ucinnost1 .box2 .background { position: absolute; left: 0px; bottom: 0px; width: 845px; height: 399px; background: url("../img/ucinnost1_box2.png") no-repeat; -webkit-background-size: 845px 399px; background-size: 845px 399px; }
#flutiform #ucinnost1 .box2 .graph1 { display: none; position: absolute; left: 216px; bottom: 57px; width: 124px; height: 250px; background: url("../img/ucinnost1_box2_graph1.png") no-repeat; -webkit-background-size: 124px 250px; background-size: 124px 250px;}
#flutiform #ucinnost1 .box2 .graph2 { display: none; position: absolute; left: 424px; bottom: 57px; width: 124px; height: 190px; background: url("../img/ucinnost1_box2_graph2.png") no-repeat; -webkit-background-size: 124px 190px; background-size: 124px 190px; }



#flutiform #ucinnost2 {}
#flutiform #ucinnost2 .box1 { position: absolute; left: 75px; top: 212px; width: 861px; height: 385px;  }
#flutiform #ucinnost2 .box1 .background { position: absolute; left: 0px; top: 0px; width: 861px; height: 385px; background: url("../img/ucinnost2_box1.png") no-repeat; -webkit-background-size: 861px 385px; background-size: 861px 385px;  }
#flutiform #ucinnost2 .box1 .graph1 {display: none; position: absolute; left: 139px; bottom: 55px; width: 678px; height: 181px; background: url("../img/ucinnost2_box1_graph1.png") no-repeat; -webkit-background-size: 678px 181px; background-size: 678px 181px; }
#flutiform #ucinnost2 .box1 .graph2 {display: none; position: absolute; left: 139px; bottom: 55px; width: 678px; height: 126px; background: url("../img/ucinnost2_box1_graph2.png") no-repeat; -webkit-background-size: 678px 238px; background-size: 678px 238px; }
#flutiform #ucinnost2 .box1 .text {display: none; position: absolute; left: 257px; bottom: 301px; width: 227px; height: 17px; background: url("../img/ucinnost2_box1_graph2_text.png") no-repeat; -webkit-background-size: 227px 17px; background-size: 227px 17px; }

#flutiform #ucinnost2 .box2 { display: none; position: absolute; left: 74px; top: 212px; width: 861px; height: 385px;  }
#flutiform #ucinnost2 .box2 .background { position: absolute; left: 0px; top: 0px; width: 861px; height: 385px; background: url("../img/ucinnost2_box2.png") no-repeat; -webkit-background-size: 861px 385px; background-size: 861px 385px;  }
#flutiform #ucinnost2 .box2 .graph1 {display: none; position: absolute; left: 139px; bottom: 55px; width: 678px; height: 85px; background: url("../img/ucinnost2_box2_graph1.png") no-repeat; -webkit-background-size: 678px 85px; background-size: 678px 85px; }
#flutiform #ucinnost2 .box2 .graph2 {display: none; position: absolute; left: 139px; bottom: 55px; width: 678px; height: 72px; background: url("../img/ucinnost2_box2_graph2.png") no-repeat; -webkit-background-size: 678px 142px; background-size: 678px 142px; }
#flutiform #ucinnost2 .box2 .text {display: none; position: absolute; left: 257px; bottom: 301px; width: 227px; height: 17px; background: url("../img/ucinnost2_box2_graph2_text.png") no-repeat; -webkit-background-size: 227px 17px; background-size: 227px 17px; }

#flutiform #ucinnost2 .fingerprint1 { cursor: pointer; position: absolute; right: 128px; top: 209px; width: 64px; height: 64px; background: url("../img/flutiform_fingerprint.png") no-repeat; -webkit-background-size: 64px 64px; background-size: 64px 64px; }
#flutiform #ucinnost2 .fingerprint2 { display: none; cursor: pointer; position: absolute; right: 128px; top: 207px; width: 64px; height: 64px; background: url("../img/flutiform_fingerprint.png") no-repeat; -webkit-background-size: 64px 64px; background-size: 64px 64px; }
#flutiform #ucinnost2 .day0 { display: none; cursor: pointer; position: absolute; left: 207px; bottom: 120px; width: 305px; height: 46px; background: url("../img/ucinnost2_day0.png") no-repeat; -webkit-background-size: 305px 46px; background-size: 305px 46px; }
#flutiform #ucinnost2 .day84 { cursor: pointer; position: absolute; right: 154px; bottom: 120px; width: 305px; height: 46px; background: url("../img/ucinnost2_day84.png") no-repeat; -webkit-background-size: 305px 46px; background-size: 305px 46px; }
#flutiform #ucinnost2 .ref-box { z-index: 100; position: absolute; left: 9px; bottom: 137px; width: 390px; height: 110px; background: url("../img/ucinnost2_ref.png") no-repeat; -webkit-background-size: 390px 110px; background-size: 390px 110px;}
#flutiform #ucinnost2 .footer-text { position: absolute; left: 84px; top: 650px; width: 337px; height: 33px; background: url("../img/ucinnost2_footer_text.png") no-repeat; -webkit-background-size: 337px 33px; background-size: 337px 33px;}

#flutiform #ucinnost2 .info {cursor: pointer; z-index: 94; position: absolute; left: 114px; bottom: 153px; width: 39px; height: 39px; background: url("../img/info.png") no-repeat; -webkit-background-size: 39px 39px; background-size: 39px 39px;}
#flutiform #ucinnost2 .info-box { display: none; z-index: 90; position: absolute; left: 100px; bottom: 106px; width: 397px; height: 98px; background: url("../img/ucinnost2_info_box.png") no-repeat; -webkit-background-size: 397px 98px; background-size: 397px 98px;}


#flutiform #ucinnost3 { }
#flutiform #ucinnost3 .box { position: absolute; left: 96px; top: 227px; width: 823px; height: 418px; background: url("../img/ucinnost3_box.png") no-repeat; -webkit-background-size: 823px 418px; background-size: 823px 418px;}
#flutiform #ucinnost3 .box .graph { display: none; position: absolute; left: 96px; bottom: 186px; width: 712px; height: 173px; background: url("../img/ucinnost3_graph.png") no-repeat; -webkit-background-size: 712px 173px; background-size: 712px 173px;}
#flutiform #ucinnost3 .box .text { display: none; position: absolute; left: 238px; bottom: 110px; width: 559px; height: 62px; background: url("../img/ucinnost3_text.png") no-repeat; -webkit-background-size: 559px 62px; background-size: 559px 62px;}
#flutiform #ucinnost3 .fingerprint { cursor: pointer; position: absolute; right: 125px; top: 307px; width: 64px; height: 64px; background: url("../img/flutiform_fingerprint.png") no-repeat; -webkit-background-size: 64px 64px; background-size: 64px 64px; }
#flutiform #ucinnost3 .ref-box { z-index: 100; position: absolute; left: 9px; bottom: 137px; width: 390px; height: 90px; background: url("../img/ucinnost3_ref.png") no-repeat; -webkit-background-size: 390px 90px; background-size: 390px 90px;}

#flutiform #ucinnost4 { }
#flutiform #ucinnost4 .box { position: absolute; left: 96px; top: 227px; width: 831px; height: 388px; background: url("../img/ucinnost4_box.png") no-repeat; -webkit-background-size: 831px 388px; background-size: 831px 388px;}
#flutiform #ucinnost4 .box .graph { display: none; position: absolute; left: 173px; bottom: 152px; width: 638px; height: 173px; background: url("../img/ucinnost4_graph.png") no-repeat; -webkit-background-size: 638px 173px; background-size: 638px 173px;}
#flutiform #ucinnost4 .box .text { display: none; position: absolute; left: 347px; bottom: 103px; width: 464px; height: 59px; background: url("../img/ucinnost4_text.png") no-repeat; -webkit-background-size: 464px 59px; background-size: 464px 59px;}
#flutiform #ucinnost4 .fingerprint { cursor: pointer; position: absolute; right: 126px; top: 359px; width: 64px; height: 64px; background: url("../img/flutiform_fingerprint.png") no-repeat; -webkit-background-size: 64px 64px; background-size: 64px 64px; }
#flutiform #ucinnost4 .ref-box { z-index: 100; position: absolute; left: 9px; bottom: 137px; width: 390px; height: 110px; background: url("../img/ucinnost4_ref.png") no-repeat; -webkit-background-size: 390px 110px; background-size: 390px 110px;}


#flutiform #jemne-castice1 { }
#flutiform #jemne-castice1 ul { position: absolute; left: 117px; top: 195px; list-style: none; }
#flutiform #jemne-castice1 ul li { display: none; margin-bottom: 16px; padding-left: 30px; font-size: 22px; color: rgb( 87, 87, 86); font-family: "MyriadProSemibold"; background: url("../img/jemne_castice_li_arrow.png") 0px 6px no-repeat; -webkit-background-size: 16px 18px; background-size: 16px 18px;}
#flutiform #jemne-castice1 ul li sup { font-size: 10px; }
#flutiform #jemne-castice1 .box { display: none; position: absolute; left: 146px; bottom: 122px; width: 738px; height: 123px; background: url("../img/jemne_castice_box.png") no-repeat; -webkit-background-size: 738px 123px; background-size: 738px 123px; }
#flutiform #jemne-castice1 .ref-box { z-index: 100; position: absolute; left: 9px; bottom: 137px; width: 390px; height: 325px; background: url("../img/jemne_castice_ref.png") no-repeat; -webkit-background-size: 390px 325px; background-size: 390px 325px;}

#flutiform #jemne-castice11 { }
#flutiform #jemne-castice11 .graph { position: absolute; left: 126px; top: 200px; width: 722px; height: 346px; background: url("../img/jemne_castice11_graph.png") no-repeat; -webkit-background-size: 722px 346px; background-size: 722px 346px; }
#flutiform #jemne-castice11 .part { display: none; position: absolute; left: 62px; top: -19px; width: 250px; height: 294px; background: url("../img/jemne_castice11_graph_part.png") no-repeat; -webkit-background-size: 250px 294px; background-size: 250px 294px; }
#flutiform #jemne-castice11 .graph1 { display: none; position: absolute; left: 63px; top: 117px; width: 414px; height: 159px; background: url("../img/jemne_castice11_graph1.png") no-repeat; -webkit-background-size: 414px 159px; background-size: 414px 159px; }
#flutiform #jemne-castice11 .graph2 { display: none; position: absolute; left: 61px; top: 170px; width: 418px; height: 107px; background: url("../img/jemne_castice11_graph2.png") no-repeat; -webkit-background-size: 418px 107px; background-size: 418px 107px; }
#flutiform #jemne-castice11 .graph3 { display: none; position: absolute; left: 62px; top: 163px; width: 417px; height: 108px; background: url("../img/jemne_castice11_graph3.png") no-repeat; -webkit-background-size: 417px 108px; background-size: 417px 108px; }
#flutiform #jemne-castice11 .graph4 { display: none; position: absolute; left: 62px; top: 44px; width: 415px; height: 178px; background: url("../img/jemne_castice11_graph4.png") no-repeat; -webkit-background-size: 415px 178px; background-size: 415px 178px; }
#flutiform #jemne-castice11 .underline { display: none; position: absolute; left: 229px; top: 20px; width: 58px; height: 255px; background: url("../img/jemne_castice11_underline.png") no-repeat; -webkit-background-size: 58px 255px; background-size: 58px 255px; }
#flutiform #jemne-castice11 .text1 { display: none; position: absolute; left: 110px; top: 550px; width: 843px; height: 109px; background: url("../img/jemne_castice11_text1.png") no-repeat; -webkit-background-size: 843px 109px; background-size: 843px 109px; }
#flutiform #jemne-castice11 .text2 { display: none; position: absolute; left: 110px; top: 550px; width: 843px; height: 109px; background: url("../img/jemne_castice11_text2.png") no-repeat; -webkit-background-size: 843px 109px; background-size: 843px 109px; }
#flutiform #jemne-castice11 .text3 { display: none; position: absolute; left: 110px; top: 550px; width: 843px; height: 109px; background: url("../img/jemne_castice11_text3.png") no-repeat; -webkit-background-size: 843px 109px; background-size: 843px 109px; }
#flutiform #jemne-castice11 .ref-box { z-index: 100; position: absolute; left: 9px; bottom: 137px; width: 390px; height: 158px; background: url("../img/jemne_castice11_ref.png") no-repeat; -webkit-background-size: 390px 158px; background-size: 390px 158px;}
#flutiform #jemne-castice11 .fingerprint { cursor: pointer; position: absolute; left: 708px; bottom: 286px; width: 64px; height: 64px; background: url("../img/flutiform_fingerprint.png") no-repeat; -webkit-background-size: 64px 64px; background-size: 64px 64px; }


#flutiform #jemne-castice12 { }
#flutiform #jemne-castice12 .box { position: absolute; left: 85px; top: 94px; width: 884px; height: 579px; }
#flutiform #jemne-castice12 .box1 { position: absolute; left: 0px; bottom: 0px; width: 884px; height: 579px; background: url("../img/jemne_castice12_box1.png") no-repeat; -webkit-background-size: 884px 579px; background-size: 884px 579px; }
#flutiform #jemne-castice12 .box1-open { cursor: pointer; position: absolute; left: 120px; bottom: 30px; width: 302px; height: 44px; }
#flutiform #jemne-castice12 .box2 { display: none; position: absolute; left: 0px; bottom: 0px; width: 884px; height: 579px; background: url("../img/jemne_castice12_box2.png") no-repeat; -webkit-background-size: 884px 579px; background-size: 884px 579px; }
#flutiform #jemne-castice12 .box2-open { cursor: pointer; position: absolute; left: 438px; bottom: 30px; width: 302px; height: 44px; }
#flutiform #jemne-castice12 .ref-box { z-index: 100; position: absolute; left: 9px; bottom: 137px; width: 390px; height: 67px; background: url("../img/jemne_castice12_ref.png") no-repeat; -webkit-background-size: 390px 67px; background-size: 390px 67px;}

#flutiform #jemne-castice2 { }
#flutiform #jemne-castice2 input { display: none; }
#flutiform #jemne-castice2 .graph { position: absolute; left: 177px; top: 214px; width: 652px; height: 379px; background: url("../img/jemne_castice_graph.png") no-repeat; -webkit-background-size: 652px 379px; background-size: 652px 379px;}
#flutiform #jemne-castice2 .graph .bar canvas { bottom: 77px;  }
#flutiform #jemne-castice2 .graph .bar.third { display: none; }
#flutiform #jemne-castice2 .graph .bar.third canvas { position: absolute; z-index: 2; left: 127px;  }
#flutiform #jemne-castice2 .graph .bar.fourth { display: none; }
#flutiform #jemne-castice2 .graph .bar.fourth canvas { position: absolute; z-index: 2; left: 169px;  }
#flutiform #jemne-castice2 .graph .graph3 { z-index: 4; display: none; position: absolute; bottom: 77px; left: 127px; width: 40px; height: 209px;  background: url("../img/jemne_castice_graph3.png") no-repeat; -webkit-background-size: 40px 209px; background-size: 40px 209px; }
#flutiform #jemne-castice2 .graph .graph4 { z-index: 4; display: none; position: absolute; bottom: 76px; left: 169px; width: 40px; height: 224px;  background: url("../img/jemne_castice_graph4.png") no-repeat; -webkit-background-size: 40px 224px; background-size: 40px 224px; }
#flutiform #jemne-castice2 .graph .numbers { display: none; position: absolute; z-index: 6; bottom: 274px; left: 124px; width: 88px; height: 43px;  background: url("../img/jemne_castice_numbers.png") no-repeat; -webkit-background-size: 88px 43px; background-size: 88px 43px; }
#flutiform #jemne-castice2 .popup-open { cursor: pointer; position: absolute; right: -57px; top: 183px; width: 71px; height: 71px; background: url("../img/jemne_castice_popup_open.png") no-repeat; -webkit-background-size: 71px 71px; background-size: 71px 71px;}
#flutiform #jemne-castice2 .popup { z-index: 1002;  display: none; position: absolute; left: 0px; top: 26px; width: 1024px; height: 660px; background: url("../img/jemne_castice_popup.png") no-repeat; -webkit-background-size: 1024px 660px; background-size: 1024px 660px;}
#flutiform #jemne-castice2 .popup .close { z-index: 1004; cursor: pointer; position: absolute; right: 60px; top: -19px; width: 38px; height: 38px; background: url("../img/jemne_castice_popup_close.png") no-repeat; -webkit-background-size: 38px 38px; background-size: 38px 38px;}
#flutiform #jemne-castice2 .popup .fingerprint { cursor: pointer; position: absolute; right: 37px; top: 307px; width: 64px; height: 64px; background: url("../img/flutiform_fingerprint.png") no-repeat; -webkit-background-size: 64px 64px; background-size: 64px 64px; }
#flutiform #jemne-castice2 .popup .bar canvas { bottom: 170px;  }
#flutiform #jemne-castice2 .popup .bar.first { }
#flutiform #jemne-castice2 .popup .arrow.first { position: absolute; left: 233px; bottom: 190px; width: 22px; height: 24px; background: url("../img/jemne_castice_popup_arrow.png") no-repeat; -webkit-background-size: 22px 24px; background-size: 22px 24px; }
#flutiform #jemne-castice2 .popup .bar.first canvas { position: absolute; z-index: 2; left: 218px;  }
#flutiform #jemne-castice2 .popup .bar.second { }
#flutiform #jemne-castice2 .popup .arrow.second { position: absolute; left: 293px; bottom: 190px; width: 22px; height: 24px; background: url("../img/jemne_castice_popup_arrow.png") no-repeat; -webkit-background-size: 22px 24px; background-size: 22px 24px;  }
#flutiform #jemne-castice2 .popup .bar.second canvas { position: absolute; z-index: 2; left: 278px; }
#flutiform #jemne-castice2 .popup .line { z-index: 1004; position: absolute; left: 0px; top: 216px; width: 1024px; height: 2px; background: url("../img/jemne_castice_popup_line.png") no-repeat; -webkit-background-size: 1024px 2px; background-size: 1024px 2px;}
#flutiform #jemne-castice2 .popup .bcg1 { display: none; z-index: 1005; position: absolute; bottom: 170px; left: 218px; width: 53px; height: 280px;}
#flutiform #jemne-castice2 .popup .bcg1 .break-line { display: none; position: absolute; width: 53px; height: 2px; background: url("../img/jemne_castice_graph_line.png") no-repeat; -webkit-background-size: 53px 2px; background-size: 53px 2px;}
#flutiform #jemne-castice2 .popup .bcg1 .graph1 { display: none; position: absolute; bottom: 0px; left: 0px; width: 53px; height: 280px;  background: url("../img/jemne_castice_popup_graph1.png") no-repeat; -webkit-background-size: 53px 280px; background-size: 53px 280px; }
#flutiform #jemne-castice2 .popup .numbers { display: none; z-index: 1006; position: absolute; bottom: 448px; left: 216px; width: 118px; height: 58px;  background: url("../img/jemne_castice_popup_numbers.png") no-repeat; -webkit-background-size: 118px 58px; background-size: 118px 58px; }
#flutiform #jemne-castice2 .popup .info { cursor: pointer; position: absolute; bottom: 35px; left: 74px; width: 868px; height: 40px;  background: url("../img/jemne_castice_popup_info.png") no-repeat; -webkit-background-size: 868px 84px; background-size: 868px 84px; }
#flutiform #jemne-castice2 .popup .bcg2 { display: none; z-index: 1005; position: absolute; bottom: 170px; left: 278px; width: 53px; height: 298px;}
#flutiform #jemne-castice2 .popup .bcg2 .break-line { display: none; position: absolute; width: 53px; height: 2px; background: url("../img/jemne_castice_graph_line.png") no-repeat; -webkit-background-size: 53px 2px; background-size: 53px 2px;}
#flutiform #jemne-castice2 .popup .bcg2 .graph2 { display: none; position: absolute; bottom: 0px; left: 0px; width: 53px; height: 298px;  background: url("../img/jemne_castice_popup_graph2.png") no-repeat; -webkit-background-size: 53px 298px; background-size: 53px 298px; }
#flutiform #jemne-castice2 .ref-box { z-index: 100; position: absolute; left: 9px; bottom: 140px; width: 390px; height: 61px; background: url("../img/jemne_castice2_ref.png") no-repeat; -webkit-background-size: 390px 61px; background-size: 390px 61px;}

#flutiform #plicni-depozice1 { }
#flutiform #plicni-depozice1 .text1 { display: none; position: absolute; left: 42px; top: 246px; width: 241px; height: 280px; background: url("../img/plicni_depozice1_text1.png") no-repeat; -webkit-background-size: 241px 280px; background-size: 241px 280px;}
#flutiform #plicni-depozice1 .text2 { display: none; position: absolute; left: 258px; top: 210px; width: 239px; height: 316px; background: url("../img/plicni_depozice1_text2.png") no-repeat; -webkit-background-size: 239px 316px; background-size: 239px 316px;}
#flutiform #plicni-depozice1 .text3 { display: none; position: absolute; left: 492px; top: 272px; width: 239px; height: 237px; background: url("../img/plicni_depozice1_text3.png") no-repeat; -webkit-background-size: 239px 237px; background-size: 239px 237px;}
#flutiform #plicni-depozice1 .text4 { display: none; position: absolute; left: 694px; top: 236px; width: 239px; height: 263px; background: url("../img/plicni_depozice1_text4.png") no-repeat; -webkit-background-size: 239px 263px; background-size: 239px 263px;}
#flutiform #plicni-depozice1 .button { cursor: pointer; position: absolute; left: 352px; top: 560px; width: 319px; height: 50px; background: url("../img/plicni_depozice1_button.png") no-repeat; -webkit-background-size: 319px 50px; background-size: 319px 50px;}
#flutiform #plicni-depozice1 .footer-text { position: absolute; left: 84px; top: 650px; width: 574px; height: 17px; background: url("../img/plicni_depozice1_footer_text.png") no-repeat; -webkit-background-size: 574px 17px; background-size: 574px 17px;}
#flutiform #plicni-depozice1 .popup { z-index: 1002;  display: none; position: absolute; left: 0px; top: 26px; width: 1024px; height: 663px; background: url("../img/plicni_depozice1_popup.png") no-repeat; -webkit-background-size: 1024px 663px; background-size: 1024px 663px;}
#flutiform #plicni-depozice1 .popup .close { z-index: 1004; cursor: pointer; position: absolute; right: 60px; top: -19px; width: 38px; height: 38px; background: url("../img/jemne_castice_popup_close.png") no-repeat; -webkit-background-size: 38px 38px; background-size: 38px 38px;}
#flutiform #plicni-depozice1 .popup .info { cursor: pointer; position: absolute; bottom: 39px; left: 74px; width: 869px; height: 40px;  background: url("../img/plicni_depozice1_popup_info.png") no-repeat; -webkit-background-size: 869px 115px; background-size: 869px 115px; }
#flutiform #plicni-depozice1 .ref { z-index: 1012; }
#flutiform #plicni-depozice1 .ref-box { z-index: 1010; position: absolute; left: 9px; bottom: 136px; width: 398px; height: 229px; background: url("../img/plicni_depozice1_ref.png") no-repeat; -webkit-background-size: 398px 229px; background-size: 398px 229px;}
#flutiform #plicni-depozice1 .fingerprint { cursor: pointer; position: absolute; left: 118px; bottom: 286px; width: 64px; height: 64px; background: url("../img/flutiform_fingerprint.png") no-repeat; -webkit-background-size: 64px 64px; background-size: 64px 64px; }

#flutiform #plicni-depozice2 { }
#flutiform #plicni-depozice2 .block { position: absolute; left: 84px; top: 212px; width: 863px; height: 457px; background: url("../img/plicni_depozice2_block.png") no-repeat; -webkit-background-size: 863px 457px; background-size: 863px 457px;}
#flutiform #plicni-depozice2 .block .graph1 { display: none; position: absolute; left: 140px; bottom: 133px; width: 53px; height: 195px; background: url("../img/plicni_depozice2_graph1.png") no-repeat; -webkit-background-size: 53px 195px; background-size: 53px 195px;}
#flutiform #plicni-depozice2 .block .numbers1 { display: none; position: absolute; left: 140px; bottom: 133px; width: 53px; height: 222px; background: url("../img/plicni_depozice2_graph1_text.png") no-repeat; -webkit-background-size: 53px 222px; background-size: 53px 222px;}
#flutiform #plicni-depozice2 .block .graph2 { display: none; position: absolute; left: 436px; bottom: 133px; width: 53px; height: 133px; background: url("../img/plicni_depozice2_graph2.png") no-repeat; -webkit-background-size: 53px 133px; background-size: 53px 133px;}
#flutiform #plicni-depozice2 .block .numbers2 { display: none; position: absolute; left: 436px; bottom: 133px; width: 53px; height: 166px; background: url("../img/plicni_depozice2_graph2_text.png") no-repeat; -webkit-background-size: 53px 166px; background-size: 53px 166px;}
#flutiform #plicni-depozice2 .block .graph3 { display: none; position: absolute; left: 668px; bottom: 133px; width: 136px; height: 83px; background: url("../img/plicni_depozice2_graph3.png") no-repeat; -webkit-background-size: 136px 83px; background-size: 136px 83px;}
#flutiform #plicni-depozice2 .block .numbers3 { display: none; position: absolute; left: 668px; bottom: 133px; width: 142px; height: 115px; background: url("../img/plicni_depozice2_graph3_text.png") no-repeat; -webkit-background-size: 142px 115px; background-size: 142px 115px;}
#flutiform #plicni-depozice2 .button { cursor: pointer; position: absolute; left: 0px; top: 366px; width: 319px; height: 50px; background: url("../img/plicni_depozice2_button.png") no-repeat; -webkit-background-size: 319px 50px; background-size: 319px 50px;}
#flutiform #plicni-depozice2 .popup { z-index: 1002;  display: none; position: absolute; left: 0px; top: 26px; width: 1024px; height: 663px; background: url("../img/plicni_depozice2_popup.png") no-repeat; -webkit-background-size: 1024px 663px; background-size: 1024px 663px;}
#flutiform #plicni-depozice2 .popup .close { z-index: 1004; cursor: pointer; position: absolute; right: 60px; top: -19px; width: 38px; height: 38px; background: url("../img/jemne_castice_popup_close.png") no-repeat; -webkit-background-size: 38px 38px; background-size: 38px 38px;}
#flutiform #plicni-depozice2 .popup .info { cursor: pointer; position: absolute; bottom: 39px; left: 74px; width: 869px; height: 40px;  background: url("../img/plicni_depozice2_popup_info.png") no-repeat; -webkit-background-size: 869px 119px; background-size: 869px 119px; }
#flutiform #plicni-depozice2 .ref { z-index: 1012; }
#flutiform #plicni-depozice2 .ref-box { z-index: 1010; position: absolute; left: 9px; bottom: 136px; width: 398px; height: 219px; background: url("../img/plicni_depozice2_ref.png") no-repeat; -webkit-background-size: 398px 219px; background-size: 398px 219px;}


#flutiform #preskripce1 { }
#flutiform #preskripce1 .package { display: none; position: absolute; top: 116px; width: 356px; height: 356px;  }
#flutiform #preskripce1 .package.first { left: 72px; background: url("../img/preskripce1_package1.png") no-repeat; -webkit-background-size: 356px 356px; background-size: 356px 356px; }
#flutiform #preskripce1 .package.second { left: 330px; background: url("../img/preskripce1_package2.png") no-repeat; -webkit-background-size: 356px 356px; background-size: 356px 356px; }
#flutiform #preskripce1 .package.third { left: 587px; background: url("../img/preskripce1_package3.png") no-repeat; -webkit-background-size: 356px 356px; background-size: 356px 356px; }
#flutiform #preskripce1 .fingerprint { display: none; cursor: pointer; position: absolute; left: 482px; bottom: 224px; width: 64px; height: 64px; background: url("../img/flutiform_fingerprint.png") no-repeat; -webkit-background-size: 64px 64px; background-size: 64px 64px; }
#flutiform #preskripce1 .fingerprint.second { bottom: 113px; }
#flutiform #preskripce1 .text1 { display: none; position: absolute; left: 147px; top: 456px; width: 722px; height: 75px; background: url("../img/preskripce1_text1.png") no-repeat; -webkit-background-size: 722px 75px; background-size: 722px 75px; }
#flutiform #preskripce1 .text2 { display: none; position: absolute; left: 147px; top: 456px; width: 722px; height: 75px; background: url("../img/preskripce1_text2.png") no-repeat; -webkit-background-size: 722px 75px; background-size: 722px 75px; }
#flutiform #preskripce1 .text3 { display: none; position: absolute; left: 147px; top: 456px; width: 722px; height: 75px; background: url("../img/preskripce1_text3.png") no-repeat; -webkit-background-size: 722px 75px; background-size: 722px 75px; }
#flutiform #preskripce1 .box { display: none; position: absolute; left: 137px; bottom: 112px; width: 750px; height: 56px; background: url("../img/preskripce1_box.png") no-repeat; -webkit-background-size: 750px 56px; background-size: 750px 56px; }

#flutiform #preskripce2 { }
#flutiform #preskripce2 .box { position: absolute; left: 142px; top: 207px; width: 752px; height: 414px; background: url("../img/preskripce2_box.png") no-repeat; -webkit-background-size: 752px 414px; background-size: 752px 414px; }
#flutiform #preskripce2 .ref-box { z-index: 100; position: absolute; left: 9px; bottom: 137px; width: 390px; height: 126px; background: url("../img/preskripce1_ref.png") no-repeat; -webkit-background-size: 390px 126px; background-size: 390px 126px;}

#flutiform #reprint { }
#flutiform #reprint .reprints { position: absolute; left: 106px; top: 180px; width: 800px; height: 534px; overflow: hidden; overflow-y: scroll; }
#flutiform #reprint .reprints .reprint { position: relative; width: 760px; height: 150px; margin-bottom: 20px; border-bottom: 1px solid rgba(0,0,0,0.8); }
#flutiform #reprint .reprints .reprint a.pdf { position: absolute; left: 0px; top: 0px; width: 42px; height: 39px; background: url("../img/ziop_pdf.png") no-repeat; -webkit-background-size: 42px 39px; background-size: 42px 39px; }
#flutiform #reprint .reprints .reprint a.at { position: absolute; left: 2px; top: 90px; width: 39px; height: 39px; background: url("../img/ziop_at.png") no-repeat; -webkit-background-size: 39px 39px; background-size: 39px 39px; }
#flutiform #reprint .reprints .reprint img { float: left; padding: 0px 0 0 110px; }
#flutiform #reprint .reprints .reprint p { float: left; padding-left: 110px; font-size: 25px; color: rgba(0, 0, 0, 0.8); font-family: "MyriadProLight"; }

#flutiform #ziop { }
#flutiform #ziop .ziop-text { text-align: justify; position: absolute; left: 96px; top: 150px; width: 802px; height: 454px; font-size: 12px;  font-family: "MyriadProLight"; color: rgb( 87, 87, 86); background: url("../img/ziop.png") no-repeat; -webkit-background-size: 802px 454px; background-size: 802px 454px; }
#flutiform #ziop .ziop-text span { font-size: 12px; font-family: "MyriadProSemibold"; font-weight: normal;}
#flutiform #ziop .ziop-pdf { position: absolute; left: 15px; top: 262px; width: 42px; height: 39px; background: url("../img/ziop_pdf.png") no-repeat; -webkit-background-size: 42px 39px; background-size: 42px 39px;}
#flutiform #ziop .ziop-at { position: absolute; left: 19px; top: 340px; width: 39px; height: 39px; background: url("../img/ziop_at.png") no-repeat; -webkit-background-size: 39px 39px; background-size: 39px 39px;}
#flutiform #reference .ref-list {width: 798px; height: 410px; position: absolute; left: 105px; top: 152px; overflow-y: scroll; overflow-x: hidden;}
#flutiform #reference table { width: 780px; }
#flutiform #reference table tr {  }
#flutiform #reference td { font-size: 16px; font-family: "MyriadProLight"; line-height: 27px; padding: 0 0 28px 10px;}
#flutiform #reference td.number { text-align: right; font-size: 49px; font-family: "MyriadProBold"; color: #dbdbdd;}

#flutiform .slide-number { position: absolute; right: 33px; top: 111px; font-size: 18px; color: rgb(236, 100, 17); font-family: "MyriadProLight";}

#flutiform .footer { z-index: 200; position: absolute; left: 0; bottom: 0px; width: 1024px; height: 58px; background: url("../img/footer.png") no-repeat; -webkit-background-size: 1024px 58px; background-size: 1024px 58px;}
#flutiform .footer .flutiform-logo { cursor: pointer; position: absolute; right: 0; bottom: 0px; width: 200px; height: 58px;}
#flutiform .footer-nav { z-index: 204; display: none; position: absolute; left: 0; bottom: 0; width: 1024px; height: 157px; background: url("../img/footer_nav.png") no-repeat; -webkit-background-size: 1024px 157px; background-size: 1024px 157px;}
#flutiform .footer-nav .nav-arrows { z-index: 206; position: relative; left: 12px; bottom: 70px; width: 1000px; height: 38px; background: url("../img/footer_nav_arrows.png") no-repeat; -webkit-background-size: 1000px 38px; background-size: 1000px 38px;}
#flutiform .footer-nav .slide-nav { z-index: 208; position: relative; margin:21px 0 0 55px; width: 916px; height: 102px; overflow: hidden;}
#flutiform .footer-nav .slide-nav #carousel { width: 916px;  overflow: hidden; }
#flutiform .footer-nav .slide-nav ul { position: relative; padding: 0; }
#flutiform .footer-nav .slide-nav ul li { cursor: pointer; float: left; list-style: none; margin-right: 15px; width: 140px; height: 102px; -webkit-background-size: 140px 102px; background-size: 140px 102px; }

#flutiform .footer-nav .slide-nav ul li.uvod { background: url("../img/thumb_uvod.png") no-repeat; -webkit-background-size: 140px 102px; background-size: 140px 102px;}
#flutiform .footer-nav .slide-nav ul li.co-je-to-flutiform1 { background: url("../img/thumb_cjtf1.png") no-repeat; -webkit-background-size: 140px 102px; background-size: 140px 102px;}
#flutiform .footer-nav .slide-nav ul li.co-je-to-flutiform2 { background: url("../img/thumb_cjtf2.png") no-repeat; -webkit-background-size: 140px 102px; background-size: 140px 102px;}
#flutiform .footer-nav .slide-nav ul li.co-je-to-flutiform3 { background: url("../img/thumb_cjtf3.png") no-repeat; -webkit-background-size: 140px 102px; background-size: 140px 102px;}
#flutiform .footer-nav .slide-nav ul li.ucinnost1 { background: url("../img/thumb_ucinnost1.png") no-repeat; -webkit-background-size: 140px 102px; background-size: 140px 102px;}
#flutiform .footer-nav .slide-nav ul li.ucinnost2 { background: url("../img/thumb_ucinnost2.png") no-repeat; -webkit-background-size: 140px 102px; background-size: 140px 102px;}
#flutiform .footer-nav .slide-nav ul li.ucinnost3 { background: url("../img/thumb_ucinnost3.png") no-repeat; -webkit-background-size: 140px 102px; background-size: 140px 102px;}
#flutiform .footer-nav .slide-nav ul li.ucinnost4 { background: url("../img/thumb_ucinnost4.png") no-repeat; -webkit-background-size: 140px 102px; background-size: 140px 102px;}
#flutiform .footer-nav .slide-nav ul li.jemne-castice1 { background: url("../img/thumb_jemne_castice1.png") no-repeat; -webkit-background-size: 140px 102px; background-size: 140px 102px;}
#flutiform .footer-nav .slide-nav ul li.jemne-castice11 { background: url("../img/thumb_jemne_castice11.png") no-repeat; -webkit-background-size: 140px 102px; background-size: 140px 102px;}
#flutiform .footer-nav .slide-nav ul li.jemne-castice12 { background: url("../img/thumb_jemne_castice12.png") no-repeat; -webkit-background-size: 140px 102px; background-size: 140px 102px;}
#flutiform .footer-nav .slide-nav ul li.jemne-castice2 { background: url("../img/thumb_jemne_castice2.png") no-repeat; -webkit-background-size: 140px 102px; background-size: 140px 102px;}
#flutiform .footer-nav .slide-nav ul li.plicni-depozice1 { background: url("../img/thumb_plicni_depozice1.png") no-repeat; -webkit-background-size: 140px 102px; background-size: 140px 102px;}
#flutiform .footer-nav .slide-nav ul li.plicni-depozice2 { background: url("../img/thumb_plicni_depozice2.png") no-repeat; -webkit-background-size: 140px 102px; background-size: 140px 102px;}
#flutiform .footer-nav .slide-nav ul li.preskripce1 { background: url("../img/thumb_preskripce1.png") no-repeat; -webkit-background-size: 140px 102px; background-size: 140px 102px;}
#flutiform .footer-nav .slide-nav ul li.preskripce2 { background: url("../img/thumb_preskripce2.png") no-repeat; -webkit-background-size: 140px 102px; background-size: 140px 102px;}
#flutiform .footer-nav .slide-nav ul li.reprint { background: url("../img/thumb_reprint.png") no-repeat; -webkit-background-size: 140px 102px; background-size: 140px 102px;}
#flutiform .footer-nav .slide-nav ul li.ziop { background: url("../img/thumb_ziop.png") no-repeat; -webkit-background-size: 140px 102px; background-size: 140px 102px;}
#flutiform .footer-nav .slide-nav ul li.reference { background: url("../img/thumb_reference.png") no-repeat; -webkit-background-size: 140px 102px; background-size: 140px 102px;}

#back {position: fixed; display: block; left: 4px; top: 4px; z-index: 10000; background: url("../img/ikona_zpet_flutiform.png") no-repeat; width: 100px; height: 34px;}
#flutiform #pdf,
#flutiform .pdf-web {z-index: 3000; display: none; background-color: white; position: absolute; left: 0; top: 0; width: 1024px; height: 768px; overflow: hidden; overflow-y: scroll;}


/* Sede prekryti stranky - pouzito pro pozadi za popup oknem*/
#overlay { position: fixed; top: 0; left: 0; opacity: .80 !important; filter: Alpha(Opacity=80) !important; display: none; width: 150%; height: 100%; z-index: 1001; background: #000000;}

/* Zobrazeni v modu portret - aktualne schova veskery obsah */
@media only screen and (orientation:portrait){
    body { display: none; }
}
